.address {
  font-size: 13px;
  &_small {
    font-size: 12px;
  }
}

.back-green {
  background-color: $green;
  color: #fff;
  border-radius: 17px;
  width: 250px;
  text-align: center;
  font-size: 18px;
}

.footer {
  margin: 0 10% 30px;
  &_address {
    display: flex;
  }
  &_logo {
    width: 120px;
    img {
      width: 100%;
    }
  }
  &_inner {
    display: flex;
  }
  &_name {
    font-size: 14px;
  }
  &_menu {
    ul {
      display: flex;
      width: 400px;
      justify-content: space-between;
      li {
        a {
          color: $brown;
          font-size: 13px;
        }
      }
    }
  }
}

.copy_right {
  font-size: 12px;
}