main {
  color: $text-color;
}

.top_intro {
  width: 350px;
  margin-top: 60px;
  &_gr {
    font-size: 22px;
  }
}

.btn {
  background-color: #fff;
  box-shadow: 0 5px 0 #E0D9C1;
  width: 300px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  cursor: pointer;
}

.download {
  padding: 65px 0;
  &_inner {
    margin: 0 auto;
    display: block;
    width: fit-content;
  }
}

.inner {
  margin: 100px 20%;
  @media screen and (max-width: 1300px) {
    margin: 100px 5%;
  }
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.bg-brown {
  background-color: $brown;
}

.white {
  color: #fff;
}

.center {
  text-align: center;
}

.w-250 {
  width: 250px;
}

.wt-500 {
  font-weight: 500;
}

.p-14 {
  font-size: 14px;
}

.title-dots {
  position: relative;
}

.title-dots::after {
  background-image: url(../img/title-dots.svg);
  content: "";
  height: 22px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  position: absolute;
  top: -30px;
  width: 70px;
  opacity: 1;
  background-repeat: no-repeat;
}

.dot {
  position: relative;
}

.dot::after {
  width: 10px;
  background-color: $green;
  border-radius: 50%;
  position: absolute;
  height: 10px;
  left: -17px;
  top: 45%;
  content: "";
}

.brown {
  color: $brown;
}

.green {
  color: $green;
  font-weight: 500;
}

.info {
  font-size: 16px;
  font-weight: 400;
}

.border-btm {
  border-bottom: 1px solid $brown;
}

.cooperate {
  width: 910px;
  margin: 0 auto 130px !important;
}

.border-wht {
  border: 1px solid #fff;
  width: fit-content;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 10px;
  margin-bottom: 45px;
}

.border-side {
  border-left: 1px solid #fff;
  padding-left: 30px;
  margin-left: 30px;
}

.phone {
  font-size: 48px;
  line-height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
}

.news {
  padding-top: 30px;
  &_bg {
    background-color: #E0D9C1;
  }
  &_inner {
    width: 70%;
    display: block;
    margin: 0 auto;
    background-color: #fff;
  }
}